<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="cantidad">Ingrese cantidad a convertir</label>
                <input 
                    type="number" 
                    placeholder="Ingrese cantidad.." 
                    class="form-control form-control-lg" 
                    id="cantidad"
                    [(ngModel)]="cantidad"
                    (input)="convertir()"
                >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="tengo">Tengo</label>
                <select 
                    class="form-control form-control-lg" 
                    id="tengo" 
                    [(ngModel)]="tengo"
                    (change)="convertir()"
                >
                    <option *ngFor="let moneda of monedas">
                        {{ moneda }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="quiero">Quiero</label>
                <select 
                    class="form-control form-control-lg" 
                    id="quiero" 
                    [(ngModel)]="quiero"
                    (change)="convertir()"
                >
                    <option *ngFor="let moneda of monedas">
                        {{ moneda }}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <h5  *ngIf="cantidad > 0" class="text-center mt-5">
        <span class="text-info fw-bold" id="resultado">
            {{ cantidad }} {{ tengo }}
        </span>
        <span class="text-white fw-bold" id="resultado">
            SON
        </span>
        <span class="text-info fw-bold" id="resultado">
            {{ total | number: '0.0-2'}} {{ quiero }}
        </span>
    </h5>
</div>